.customContainer{
    
    
    background-image: url(../assets/violet_background.jpeg);

    
}
.header , .buttons, .message{
    display: flex;
    justify-content: center;
}
.playerContentTopContent h1{
    color: white;
}
#start-button{
    border: 1px solid ;
    border-radius: 10px;
    background-color: rgb(148, 11, 57);
    font-weight: bold;
    color: seashell;
}
#end-button{
    border-bottom:  1px solid;
    border-radius: 10px;
    background-color: rgb(65, 7, 112);
    font-weight: bold;
    color: rgb(189, 51, 51);
}
p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: rgb(46, 5, 85);
    font-weight: bold;
}
.playerContent{
    margin-top: 30px;
}
.playerContentTop{
    border: 1px solid rgb(0, 0, 0);
    border-style: hidden;
    border-radius: 20px;
    display: flex;
    background-color: rgb(87, 5, 87);
    justify-content: center;
}
.playerContentTop input{
    border-radius: 20px;
    border-style: none;
}
.playerContentTop input:focus{
    outline: none;
}
.playerContentBottom{
    margin-top: 10px;
}
.cardClass{
    border: 1px solid;
    
    border-radius: 12px;
}
.cardClass img{
    width: 100%;
    border-radius: 12px;
}