$color-red: #761615;
$color-green: #1CA754;

html,
body {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	min-width: 1200px;
	min-height: 600px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: none;
	}
}

input {
	&::-ms-clear {
		display: none;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column !important;
}

.game-bg {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.game-logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 424px;
	height: 100px;
	z-index: 2;
	background: rgba(255, 255, 255, .8);
	border-radius: 20px;

	img {
		width: 100%;
		height: 100%;
	}
}

.game-modal,
.game-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.game-modal {
	z-index: 3;
	opacity: 0;
	transition: opacity .5s ease;

	.hidden {
		display: none !important;
	}

	&.active {
		opacity: 1 !important;
	}

	&__bg {
		width: 100%;
		height: 100%;
		background: black;
		opacity: .5;
	}

	.card {
		background: white;
		padding: 40px 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 550px;
		max-height: 100vh;
		transition: height .2s ease;
	}

	&__logo {
		width: 424px;
		height: 100px;
		margin-bottom: 30px;
	}

	&__title {
		font-size: 32px;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 24px;
		margin-bottom: 10px;
	}

	&__input-area {
		display: flex;
		justify-content: center;

		input,
		button {
			padding: 10px;
			font-size: 20px;
			border: 1px solid $color-red;
		}

		p {
			text-align: left;
			font-size: 20px;
			margin-bottom: 10px;
			padding: 0;
		}

		input,
		.inline-text {
			border-radius: 10px 0 0 10px;
			background: white;
			border-right: none;
			outline: none;
		}

		button {
			border-radius: 0 10px 10px 0;
			background: $color-red;
			color: white;
			transition: opacity .2s ease;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&:hover {
				opacity: .8;
			}

			&.button {
				border-radius: 10px;
			}
		}
	}

	&__button-bundle {
		border-radius: 10px;
		border: 1px solid $color-red;
		width: fit-content;
		overflow: hidden;

		button {
			border-radius: 0;
			transition: opacity .2s ease, background .2s ease, color .2s ease;

			&.active {
				background: white;
				color: $color-red;
			}
		}
	}

	&__content {
		opacity: 0;
		transition: opacity .2s ease;

		&.active {
			opacity: 1;
		}
	}

	&__double {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__toggler {
		background: $color-red;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		transition: transform .2s ease, opacity .2s ease;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			&.active {
				.game-modal__toggler {
					background: white;
					transform: translateX(calc(100% + 2px));

					&__button {
						border-color: $color-green;
						background: $color-green;
					}

					&__status {
						color: $color-green;
					}
				}
			}
		}

		&__status {
			font-size: 14px;
			line-height: 120%;
			display: block;
			margin-top: 10px;
			color: $color-red;
		}

		&__button {
			width: 46px;
			height: 24px;
			background: white;
			border: 1px solid $color-red;
			display: flex;
			align-items: center;
			transition: background .2s ease;
			padding: 1px;
			border-radius: 100px;
			cursor: pointer;

			&:hover {
				.game-modal__toggler {
					opacity: .8;
				}
			}

			&:focus {
				outline: none;
			}
		}
	}

	&__room {
		width: 100%;

		&__title {
			font-size: 12px;
			margin-bottom: 0;
			font-weight: normal;
		}

		&__subtitle {
			font-size: 28px;
			margin-bottom: 20px;
		}

		&__table {
			width: 100%;
			margin-bottom: 20px;

			.line {
				width: 90%;
				height: 1px;
				background: black;
				margin: 10px auto;
			}

			&__item {
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 10px 0;

				&__hearts {
					display: flex;
					margin-right: 15px;
				}

				&__left {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 16px;
					font-weight: bold;

					span {
						display: block;
						margin-right: 5px;
					}

					img {
						margin-left: 5px;
						width: 16px;
						height: 16px;
					}
				}

				&__right {
					position: relative;
					display: flex;
					align-items: center;

					.beam {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: $color-red;
						box-shadow: 0px 0px 10px 1px rgba(118, 22, 21, .8);
						position: relative;

						&.active {
							background: $color-green;
							box-shadow: 0 0 10px 1px rgba(28,167,84, 0.8);
						}

						&:hover {
							.popup {
								opacity: 1;
							}
						}
					}

					.popup {
						transition: opacity .2s ease;
						opacity: 0;
						position: absolute;
						bottom: 12px;
						right: 0;
						transform: translate(10px, 0);
						background: white;
						padding: 10px;
						border-radius: 10px;
						white-space: nowrap;
						font-size: 14px;
						box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

						&:after {
							z-index: 1;
							content: "";
		          position: absolute;
		          display: block;
		          right: 9px;
    					bottom: -6px;
		          width: 10px;
		          height: 7px;
		          background: url("../pics/popup_bottom.svg");
						}
					}
				}
			}
		}
	}
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.board {
	&__user-info {
		display: flex;
		flex-direction: column;

		&.flipped {
			flex-direction: column-reverse;

			.board {
				&__nickname {
					margin-bottom: 0;
					margin-top: -5px;
				}

				&__tokens {
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}
		}

		&.rtl {
			align-items: flex-end;
			margin-right: 5px;

			.board {
				&__nickname {
					margin-left: 0;
					margin-right: -5px;
				}
			}
		}

		&.ltr {
			margin-left: 10px;
		}

		&.rtl,
		&.ltr {
			padding-bottom: 10px;
		}
	}

	&__nickname {
		font-size: 20px;
		line-height: 100%;
		margin-bottom: 5px;
		color: white;
		border-radius: 10px;
		padding: 5px;
		margin-left: -5px;
		transition: opacity .2s ease;

		&.hidden {
			opacity: 0;
		}
	}

	&__tokens {
		display: flex;
		margin-bottom: 10px;
		transition: opacity .2s ease;

		&.hidden {
			opacity: 0;
		}

		img {
			width: 20px;
			height: 20px;
			margin-right: 5px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.card {
	background: none;
	transition: transform .3s ease;
}

.cards {
	display: flex;
	position: relative;
	z-index: 1;

	&.top {
		margin-top: -110px;
		transform: rotate(180deg);

		.card.hidden {
			transform: translateY(100px);
		}
	}

	&.right {
		margin-top: 20px;
		transform: rotate(-90deg);
		margin-right: -70px;
	}

	&.left {
		margin-top: 20px;
		transform: rotate(90deg);
		margin-left: -70px;
	}

	&.bottom {
		margin-bottom: -150px;

		.card.hidden {
			transform: translateY(150px) !important;
		}
	}

	&.left, &.right {
		.card.hidden {
			transform: translateY(200px);
		}
	}

	.card {
		width: 150px;
		height: 209.5px;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}

		img {
			width: 100%;
			height: 100%;
		}

		&.in-hand {
			width: 200px;
			height: 279px;
			cursor: pointer;

			&:hover {
				transform: translateY(-60%);
			}
		}
	}
}

.player {
	&-top,
	&-right,
	&-bottom,
	&-left {
		position: fixed;
		z-index: 1;
	}

	&-top {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&-bottom {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&-right {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&-left {
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.deck {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;

	&-left,
	&-right {
		position: absolute;
		top: 50%;
	}

	&-left {
		left: 0;
		transform: translate(-100%, -50%);
		padding-right: 10px;

		.card {
			margin-top: -240px;
			position: relative;
		}
	}

	&-right {
		right: 0;
		transform: translate(100%, -50%);
		padding-left: 10px;
		display: flex;

		.card {
			width: 107px;
			height: 150px;
			margin-left: -80px;
			position: relative;

			&.hidden {
				transform: translateX(50vw);
			}

			&:first-of-type {
				margin-left: 0;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&-center {
		.card {
			margin-top: -194px;
		}
	}

	&-center,
	&-left {
		.card {
			width: 143px;
			height: 200px;

			&.hidden {
				transform: translate3d(0, 100vh, 0);
			}

			&:first-of-type {
				margin-top: 0;
			}

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.chat {
	font-family: 'Risque', cursive;
	color: white;
	font-size: 16px;
	line-height: 18px;
	min-width: 300px;
	max-width: 300px;
	min-height: 250px;
	max-height: 250px;
	height: 250px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-545px);
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 4;
	opacity: 0;
	transition: opacity .2s ease;
	background: rgba(14, 22, 32, 0.85);
	border-radius: 10px;

	&.active {
		display: flex;
	}

	&.visible {
		opacity: 1;
	}

	&__top,
	&__bottom {
		padding: 10px;
		width: 100%;
	}

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 100%;
		max-width: 100%;
		word-break: break-word;

		&__wrapper {
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
			width: 100%;
		}
	}

	&__bottom {
		border-radius: 0 0 10px 10px;

		#chat-input {
			font-family: 'Risque', cursive;
			color: white;
			font-size: 16px;
			line-height: 18px;
			width: 100%;
			outline: none;
			background: none;
			border: none;
			resize: none;
			overflow: hidden;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			&::placeholder {
				opacity: .5;
				color: white;
			}
		}
	}

	&__line {
		width: 100%;
		min-height: 1px;
		max-height: 1px;
		background: white;
	}

	&__message {
		display: block;
		margin-bottom: 5px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&--server {
			opacity: .5;
		}
	}
}
