<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <!-- <script src="script.js"></script> -->
</head>
<body>
    <h1>Soon, you will be already playing here!</h1>
    <br>
    
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
            <div><%= room %></div>
            <a href="/<%= room %>">Join</a>
        <% }); %> 

        <form action="/room" method="POST">
            <input name="room" type="text" required>
            <button type="submit">New Room</button>
        </form>
        <br><br><br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME=" crossorigin="anonymous"></script>
    <script>
        
        const roomContainer = document.getElementById('room-container');
        const socket = io.connect();
        
        socket.on('room-created', room => {
            const roomElement = document.createElement('div')
            roomElement.innerText = room
            const roomLink = document.createElement('a')
            roomLink.href = `/${room}`
            roomLink.innerText = 'join'
            roomContainer.append(roomElement)
            roomContainer.append(roomLink)
        });


        function appendMessage(message) {
            const messageElement = document.createElement('div')
            messageElement.innerText = message
            messageContainer.append(messageElement)
        }
    </script>
</body>
</html>
