<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Welcome , <%= username %></h1>
    <h1>Soon, you will be already playing here!</h1>
    <form method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
